<div class="setting" id="setting">
    <div class="setting__background">
        <div class="setting__preview setting--icon _mod--notext setting--icons">setting</div>
    </div>
    
    <div class="setting__container setting--list disable">
        <div class="setting--choice" id="lang">
            <div class="setting__background">
                <div class="setting__preview" data-lang="ru" data-status="default">ru</div>
            </div>    

            <div class="setting--set_mod setting--list disable" id="list-lang">
                <div class="setting__background">
                    <div class="setting__preview" data-lang="en" data-status="set">en</div>
                </div>    
            </div>
        </div>
        <div class="setting--choice" id="theme">
            <div class="setting__background">
                <div class="setting__preview _mod--notext setting--icons dark-mod" data-mod="dark" data-status="default"></div>
            </div>   
            <div class="setting--set_mod setting--list disable" id="list-theme">
                <div class="setting__background">
                    <div class="setting__preview _mod--notext setting--icons white-mod" data-mod="white" data-status="set"></div>
                </div>    
            </div>
        </div>
    </div>
</div>